/* Styles specific to the <App /> component! */

/* Nav bar */

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: #0f110c;
  padding: 10px 30px;
  width: 100%;
  box-sizing: border-box;
}

.nav-logo-link .logo {
  height: 8em;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.nav-logo-link:hover {
  background-color: #008cffc7;
}

.nav-link {
  color: #fefdff;
  background-color: #008cffc7;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  max-width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #ffffff;
  color: #008cffc7;
}

.orgname {
  color: #fefdff;
  padding: 10px;
  margin: 0px;
}

/* Home Page */

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  padding: 25px 0px;
  margin: 0px;
  width: auto;
}

.left-pane {
  flex: 1;
  padding: 20px;
  border: 20px solid #c0c0c0;
}

.right-pane {
  flex: 2;
  padding: 25px;
  border: 20px solid #c0c0c0;
}

/* Gallery component (rendering in home)*/

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Individual artworkCard within main gallery & exhibition */

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border: 2px solid hsl(0, 0%, 60%);
  border-radius: 8px;
  padding: 5px;
  width: 200px;
  height: 450px;
  margin: 10px;
  text-align: center;
  transition: border 0.3s ease;
}

.gallery:hover {
  border: 2px solid #0044ffc7;
}

.g-image-wrapper {
  height: 230px;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.g-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.g-description {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.g-description p {
  margin: 8px 0px;
}

.g-desc-smaller {
  font-size: 0.8rem;
}

/* Temp collection gallery container on AllTempArtwork */

.t-gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

/* Individual artwork card within temporary collection */

.t-gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border: 2px solid hsl(0, 0%, 60%);
  border-radius: 8px;
  padding: 3px;
  width: 140px;
  height: 250px;
  margin: 5px 0px;
  text-align: center;
  transition: border 0.3s ease;
}

.t-image-wrapper {
  height: 160px;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.t-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.t-description {
  padding: 5px;
  margin: 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.8rem;
}

.t-description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 5px;
}

.t-gallery-button {
  display: flex;
  align-content: center;
  width: 100%;
  margin-top: auto;
}

/* ArtInfoModal Styling */

.artinfo-img {
  width: 100%;
}

.artinfo-desc,
.artinfo-title {
  padding-bottom: 25px;
}

/* Exhibition Page */

.e-page-container {
  display: flex;
  flex-grow: 1;
  padding: 2rem;
  margin: 10px;
  justify-content: center;
  text-align: center;
}

/* footer */

footer {
  flex-shrink: 0;
  background-color: #131313;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
  width: auto;
}
