/* Styles specific to the <App /> component! */

/* Nav bar */

.nav-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  list-style-type: none;
  background-color: #0f110c;
  padding: 0px 40px 0px 0px;
  width: auto;
}

.logo {
  height: 8em;
  padding: 0.3em;
}

.nav-link {
  display: inline-block;
  color: #fefdff;

  margin: 0px;
  min-width: 100px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #008cffc7;
  color: #fefdff;
}

.orgname {
  color: #fefdff;
}

/* Home Page */

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #c0c0c0;
  text-align: center;
  padding: 25px;
  /* margin: 0px; */
  width: auto;
}

.left-pane {
  flex: 1;
  padding: 25px;
  background-color: #ffffff;
}

.right-pane {
  flex: 2;
  padding: 25px;
  background-color: #ffffff;
}

/* Gallery component (rendering in home)*/

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Individual artworkCard within main gallery & exhibition */

.gallery {
  display: inline-block;
  border: 2px solid hsl(0, 0%, 60%);
  border-radius: 8px;
  padding: 5px;
  width: 200px;
  margin: 10px;
  text-align: center;
  background-color: #fff;
  transition: border 0.3s ease;
}

.g-description {
  padding: 10px;
}
.gallery:hover {
  border: 2px solid #0044ffc7;
}
.gallery img {
  width: 100%;
  height: auto;
}

.g-desc-smaller {
  font-size: 0.8rem;
}

.g-link {
  font-size: 0.8rem;
}

/* Temp collection gallery container on AllTempArtwork */

.t-gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

/* Individual artwork card within temporary collection */

.t-gallery {
  display: inline-block;
  border: 2px solid hsl(0, 0%, 60%);
  border-radius: 8px;
  width: 100px;
  padding: 5px;
  font-size: 0.8rem;
  text-align: center;
}

.t-gallery img {
  width: 100%;
  height: auto;
}

.t-gallery-button {
  align-content: center;
  width: 100%;
  height: auto;
}

/* ArtInfoModal Styling */

.artinfo-img {
  width: 100%;
}

.artinfo-desc,
.artinfo-title {
  padding-bottom: 25px;
}

/* Exhibition Page */

.page-container {
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* footer */

footer {
  flex-shrink: 0;
  background-color: #131313;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
  width: auto;
}
